.advantage-box {
    padding: 1.5em;
    box-shadow: 0px 3px 6px #00000029;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage-box img {
    display: block;
    margin: auto;
}
.advantage-box span {
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #08648d;
    font-size: 1.5em;
}

.el-input,
::v-deep .el-input__inner {
    font-size: 1em;
}

::v-deep .el-select-dropdown__item {
    font-size: 1.2em;
}

.el-collapse {
    border: 0px solid white;
    box-shadow: 0px 3px 6px #00000029;
}

::v-deep .el-collapse-item__header {
    background: #4a9abe;
    color: white;
    padding: 0.15em;
}

::v-deep .el-collapse-item__header i {
    font-size: 1.6em;
    margin-left: 0.5em;
}

::v-deep .el-collapse-item__header span {
    font-size: 1.8em;
}

::v-deep .el-collapse-item__header i + span {
    padding-left: 0.2em;
}

.custom-progress {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

::v-deep .el-progress__text {
    color: #fff;
    font-size: 1.5em !important;
    margin-left: 1.5em;
}

::v-deep .el-progress-bar {
    width: 70%;
}

#search-btn {
    height: 2.5em;
    width: 7.5em;
    font-size: 1em;
    color: white;
    background-color: #0e5879;
    margin: auto;
    align-self: center;
}

#delete-btn {
    height: 2.5em;
    width: 7.5em;
    font-size: 1.5em;
    color: #08648d;
    border: 1px solid #08648d;
    background-color: white;
    margin: auto;
    align-self: center;
}

#check-model-btn {
    height: 2.5em;
    width: 7.5em;
    font-size: 1.5em;
    color: white;
    background-color: #0e5879;
    margin: auto;
    align-self: center;
}
