.empty-btn {
    width: 10em;
}

::v-deep .el-input {
    font-size: $font-normal;
    &__inner {
        height: 2.2em;
    }
}

.info-row {
    display: flex;
    align-items: center;
    font-size: $font-normal;
    color: $primary-color;
    img {
        width: $font-normal * 2;
    }
    div {
        display: inline-block;
        margin-left: 10px;
    }
}

.wrap-info-row{
    padding: 0 1em 1em;
}

.plot-container {
    font-size: $font-normal;
    margin: 0.7em;
    .plot-title {
        border-radius: 8px 8px 0px 0px;
        background-color: $third-color;
        color: white;
        padding: 0.5em 1em;
    }
    .plot-content {
        @extend %box-shadow;
        box-sizing: border-box;
        height: $font-normal *20;
        padding: 2em;
        display: flex;
        flex-direction: column;
    }
}

.ring-container{
    height: $font-normal *15;
    width: $font-normal*15;
    display: flex;
    margin: auto;
}

.progress-bar-container {
    font-size: $font-normal;
    display: flex;
    margin: 0.5em 0;
    .progress-content {
        width: $font-normal * 5;
        height: $font-normal * 2.5;
        border-radius: 5px;
        // background-color: #275776;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
    }
    .progress-end-extra{
        position: relative;
        top: $font-normal *1.25;
        left: $font-normal *0.5;
        font-size: $font-normal *0.8;
        color: #9B9090;
    }
}

::v-deep .el-progress {
    width: 65%;
    display: flex;
    align-items: flex-end;

    &-bar__outer {
        overflow: visible;
        border-radius: 0;
    }
    &-bar__inner{
        border-radius: 0;
    }
    &-bar__innerText {
        font-size: $font-normal * 1.5;
        color: $primary-color;
        position: absolute;
        top: -1em;
        right: -1.5em;
    }
}

.matirx-img{
    display: flex;
    margin: auto;
    height: 100%;
}