<div id="main-section">
  <el-row>
    <el-col>
      <div class="action-btn-group">
        <template v-if="userInfo.auth === 'admin' && triggerEdit === false">
          <el-button class="primary-btn" @click="triggerEdit = true">編輯</el-button>
        </template>
        <template v-else-if="userInfo.auth === 'admin' && triggerEdit === true">
          <el-button class="secondary-btn" @click="triggerEdit = false">預覽列表<i class="el-icon-view"></i></el-button>
          <el-button class="primary-btn" @click="addUserSetting">新增使用者<i class="el-icon-plus"></i></el-button>
        </template>
        <template v-else>
          <el-button class="primary-btn" @click="addUserSetting">新增使用者<i class="el-icon-plus"></i></el-button>
        </template>
      </div>
    </el-col>
  </el-row>
  <el-row>
    <el-col>
      <div class="title-box">
        <div>使用者名稱</div>
      </div>
      <div class="box-wrap">
        <div class="content-box" v-for="user in userList">
          <div class="user-info-box">{{user.name}}</div>
          <div class="edit-box">
            <template v-if="triggerEdit === false">
              <div class="role-text">{{roleName(user.role)}}</div>
            </template>
            <template v-else>
              <div class="switch-box">
                <div class="switch-box-text">{{roleName(user.role)}}</div>
                <template v-if="user.name !== 'admin'">
                  <el-switch :value="user.role" active-color="#08648D" inactive-color="#C495FF61"
                  active-value="maintainer" inactive-value="notMaintainer" @change="handleModifyUser(user.name)">
                </el-switch>
                </template>
              </div>
              <div class="setting-box" @click="removeUserSetting(user.name)"  v-if="user.name !== 'admin'">
                <div class="setting-box-icon"><i class="el-icon-delete"></i></div>
                <div class="setting-box-text">刪除</div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </el-col>
  </el-row>
  <el-dialog :visible.sync="openAddUserDialog" :show-close=false :close-on-click-modal="false" append-to-body>
    <div class="input-box">
      <div class="input-box-title">使用者名稱</div>
      <el-input v-model="addUserData.username" clearable></el-input>
    </div>
    <div class="input-box">
      <div class="input-box-title">使用者密碼</div>
      <el-input v-model="addUserData.password" show-password clearable></el-input>
    </div>
    <div class="input-box">
      <div class="input-box-title">確認使用者密碼</div>
      <el-input v-model="addUserCheckPassword" show-password clearable></el-input>
    </div>
    <div class="input-box">
      <div class="input-box-title">使用者角色</div>
      <el-select v-model="addUserData.maintainer" clearable>
        <el-option key=false :value=false :label="roleName('notMaintainer')"></el-option>
        <template v-if="userInfo.auth === 'admin'">
          <el-option key=true :value=true :label="roleName('maintainer')"></el-option>
        </template>
      </el-select>
    </div>
    <div class="btn-group">
      <el-button class="secondary-btn" @click="openAddUserDialog=false">取消</el-button>
      <el-button class="primary-btn" @click="handleAddUser">確定</el-button>
    </div>
  </el-dialog>
  <el-dialog :visible.sync="openRemoveUserDialog" :show-close=false :close-on-click-modal="false" append-to-body>
    <div class="delete-box">
      <div class="delete-box-title"><i class="el-icon-warning"></i> 確定刪除使用者 {{removeUsername}} ?</div>
    </div>
    <div class="btn-group">
      <el-button class="secondary-btn" @click="openRemoveUserDialog=false">取消</el-button>
      <el-button class="primary-btn" @click="handleRemoveUser">確定</el-button>
    </div>
  </el-dialog>
</div>