.primary-btn {
    @extend %btn-setting;
    color: white;
    background-color: $secondary-color;
}

.secondary-btn {
    @extend %btn-setting;
    color: $primary-color;
    background-color: white;
    border: 1px solid $primary-color;
}

.action-btn-group {
    font-size: $font-normal;
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    .el-button + .el-button {
        margin-left: 4em;
    }
}
