%box-shadow {
    box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.161);
}
%btn-setting {
    font-size: $font-normal;
    width: 7.5em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        margin-left: 5px;
    }
}
