::v-deep .el-dialog {
  font-size: $font-normal;
  margin-top: 5vh !important;
  width: 50%;
  &__header {
    padding: 0.5em 0.5em 0;
  }
  &__body,
  &__footer {
    padding: 0 0.5em;
  }
}

.main-container {
  @extend %box-shadow;
  height: 65vh;
}

.container-title {
  border-radius: 8px 8px 0px 0px;
  background: $secondary-color;
  color: white;
  font-size: $font-normal;
  padding: 0.4em;
  span {
    font-size: $font-normal * 1.3;
  }
}

::v-deep .el-collapse-item__header {
  font-size: $font-normal;
  height: $font-normal * 1.5;
  background: $third-color !important;
  padding: 0.5em !important;
  .title-container {
    div {
      font-size: $font-normal !important;
      height: auto !important;
    }
    align-items: center;
  }
  .el-collapse-item__arrow {
    font-size: $font-normal * 1.25;
  }
}

::v-deep .el-tooltip__popper{
  color:$third-color !important;
  background: #D9DF90 !important;
}

::v-deep .el-collapse-item__wrap {
  position: absolute;
  z-index: 2;
  width: calc(50% - 1.4em);
}

.option-box {
  padding: 1em;
  // height: $font-normal * 11.5;
}

.action-btn-group {
  justify-content: center;
}
