@import "@/styles/components/_options.scss";

::v-deep .el-dialog {
  font-size: $font-normal;
  margin-top: 5vh !important;
  width: 60%;
  &__header {
    padding: 0.5em 0.5em 0;
  }
  &__body,
  &__footer {
    padding: 0 0.5em;
  }
}

.main-container {
  @extend %box-shadow;
}

.model-container-title {
  border-radius: 8px 8px 0px 0px;
  background: $secondary-color;
  color: white;
  font-size: $font-normal;
  padding: 0.5em 1em;
  span {
    font-size: $font-normal * 1.3;
  }
}

::v-deep .el-collapse-item__header {
  font-size: $font-normal;
  height: $font-normal * 1.5;
  background: $third-color !important;
  padding: 0.5em !important;
  .title-container div {
    font-size: $font-normal !important;
  }
  .el-collapse-item__arrow {
    font-size: $font-normal * 1.25;
  }
}

.model-option-box {
  font-size: $font-normal;
  padding: 0.5em;
  height: $font-normal * 13;
  cursor: pointer;
}

.model-content-box {
  @extend %box-shadow;
  font-size: $font-normal;
  height: $font-normal * 12;
}

.icon-box {
  height: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  .large-img {
    height: 90%;
    margin: auto;
  }

  .edit-box {
    position: absolute;
    right: 0.8em;
    top: 0.5em;
  }
}

.main-box {
  height: 40%;
  display: flex;
  flex-direction: column;
  font-size: $font-normal;
  padding: 0 0.5em;
}

.model-name-box {
  display: flex;
  align-items: center;
  margin: auto 0;
  color: $secondary-color;
}

.profile-box {
  display: flex;
  margin: auto;
  font-size: $font-normal * 0.8;
  color: #939393;
}

.pagination-box {
  display: flex;
  justify-content: center;
  font-size: $font-normal;
  margin: 0.75em 0;
}

.action-btn-group {
  justify-content: center;
}

/// model setting related

.go-back-box {
  font-size: $font-normal * 1.25;
  cursor: pointer;
  margin: 1em;
  color: $secondary-color;
}

.setting-main-container {
  @extend %box-shadow;
  margin: 2em 4em;
}

.setting-box {
  font-size: $font-normal;
  padding: 1.5em;
  min-height: $font-normal * 8;
}

.content-box {
  height: $font-normal * 2.5;
}

.input-box .unit {
  width: 30%;
  font-size: $font-normal *0.8;
}

.el-select{
  width: 100%;
}