::v-deep .el-dialog {
  font-size: $font-normal;
  margin-top: 7vh !important;
  width: 85%;
  &__header {
    padding: 0.5em 0.5em 0;
  }
  &__body,
  &__footer {
    padding: 0 0.5em;
  }
}

.main-container{
  @extend %box-shadow;
}

.model-container-title {
  border-radius: 8px 8px 0px 0px;
  background: $secondary-color;
  color: white;
  font-size: $font-normal;
  padding: 0.5em 1em;
  span {
    font-size: $font-normal * 1.3;
  }
}

::v-deep .el-collapse-item__header {
  background: $third-color !important;
}

.option-box {
  font-size: $font-normal;
  padding: 1em;
  height: $font-normal * 18;
  cursor: pointer;
}

.content-box {
  @extend %box-shadow;
  font-size: $font-normal;
  height: $font-normal * 16;
}


.icon-box{
  background: #F5F5FD;
  height: 70%;
  display: flex;
  justify-content: center;
  position: relative;
  .large_img{
    content: url('../../assets/svg_icon/model_select/model_purple.svg');
    height: 90%;
    margin: auto;
  }
  .edit-box{
    position:absolute;
    right: 0.8em;
    top: 0.5em;
  }
}

.icon-box:hover,.icon-box:focus,.icon-box:active{
  background: $third-color;
  .large_img{
    content: url('../../assets/svg_icon/model_select/model_transparent.svg');
  }
  
}


.main-box{
  height: 30%;
  display: flex;
}

.model-name-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: $secondary-color;
  font-size: $font-normal;
}

.action-btn-group {
  justify-content: center;
  margin: 2em;
}

/// model setting related

.go-back-box{
  font-size: $font-normal *1.25;
  cursor: pointer;
  margin: 1em;
  color: $secondary-color;
}

.setting-main-container{
  @extend %box-shadow;
  margin: 2em 8em;
}

.setting-box {
  font-size: $font-normal;
  padding: 2em;
  min-height: $font-normal * 12;
}

::v-deep .el-checkbox{
  margin: 0.4em 1em;
  &-group{
    display: flex;
    flex-direction: column;
  }
  &__label{
    font-size: $font-normal !important;
    color: $secondary-color;
    margin-left: 5px;
  }
}