::v-deep .el-breadcrumb {
    margin: 2.5% 0;
    font-size: $font-normal;
    color: $primary-color;
    &__item{
        span {
            color: $primary-color;
        }
    }
}

.navbar-container {
    @extend %box-shadow;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $font-normal;
}

.logo-box {
    width: $sidebar-width;
    display: flex;
    img{
        height:35px;
        display: block;
    }
    a {
        text-decoration: none;
        margin: auto;
    }
}

.main-nav-box {
    width: calc(100% - $sidebar-width);
    display: flex;
    justify-content: space-between;
}

.path-info-box{
    display: flex;
    align-items: center;
    .collapse-btn{
        cursor: pointer;
        margin-right: 10px;
    }
}

.user-info-box{
    margin: 0 2em;

    i {
        font-size: $font-normal *1.5;
        color: $primary-color;
    }

}

::v-deep .el-submenu{

    &__title{
        border-bottom-color: #fff !important;
    }
    
    &__icon-arrow{
        font-size: $font-normal;
    }
}

.el-menu-item{
    font-size: $font-normal;
    text-align: center;
    color: $primary-color !important;
}
.el-divider{
    margin: 10px 0;
}


::v-deep .el-dialog {
    margin-top: 12vh !important;
    width: 40vw;
    font-size: $font-normal;
    display: grid;

    &__header,
    &__body,
    &__footer {
        padding: 0;
    }
    &__header {
        display: none;
    }
    &__body {
        color: $secondary-color;
        font-size: $font-normal;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 2em 0;
        padding: 0 5em;
        text-align: center;
    }

    .btn-group {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2.5em;
    }

    .input-box {
        margin: 0.5em 0;
        &-title {
            font-size: $font-normal * 1.2;
            margin: 0.5em 0;
        }
    }
}

::v-deep .el-input {
    width: 70%;
    font-size: $font-normal;
}

