.content-box {
    font-size: $font-normal;
    box-sizing: border-box;
    padding: 0 5px;
    height: $font-normal * 6.75;
    overflow-y: auto;
    color: $secondary-color;

    .content-title {
        font-size: $font-normal * 0.8;
        font-weight: bold;
        &::after {
            content: ":";
        }
        margin:5px 0;
        
    }
}

.children-container {
    font-size: $font-normal * 0.8;
    margin: 0 0 1em 1em;
    
}

.select-box {
    
    //  .el-select-dropdown__item{
    //     font-size: $font-normal;
    // }
    .el-select{
        width: 100%;
    }

    ::v-deep .el-input__inner{
        // font-size: $font-normal;
        color: $secondary-color;
    }
}

.input-box {
    display: flex;
    align-items: center;
    margin:1px 0;
    .content-title{
        width: 50%;
        text-align: center;
        & + div {
            display: flex;
            align-items: center;
        }
    }
    .el-input {
        width: 65%;
    }
    .unit {
        margin-left: 10px;
    }
}

::v-deep .el-slider{
    padding: 0 1em;
    &__input{
        width: 50%;
    }
    &__runway.show-input{
        width: 45%;
    }
}





