.el-menu {
    width: $sidebar-width;
    &--collapse {
        width: 60px;
    }
}

.el-menu-item,
::v-deep .el-submenu__title {
    font-size: $font-normal !important;
    padding: 0 0.5em !important;
    img {
        color: #ffffff;
        + span {
            margin: 0.5em;
        }
        + span.projcet-name{
            margin: 0.5em;
            width: 9em;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    i {
        font-size: $font-normal * 1.5;
        color: #b5c4d5;
        + span {
            margin: 1em;
        }
    }
}

::v-deep .el-menu--inline {
    margin-left: 45px;
}

.el-divider--horizontal {
    width: 90%;
    margin: 0.5em;
}

.search-panel {
    padding: 0.5em;
}

.el-input {
    width: 75%;
}
