<el-dialog :visible.sync="dialogOpen" :show-close="false" :close-on-click-modal="false">
  <el-row class="preprocess-title">
    <el-col>
      <span>前處理</span>
    </el-col>
  </el-row>
  <el-row>
    <el-col class="option-row" :span="6" v-for="(args, name) in configs" :key="name">
      <el-collapse class="option-box" accordion id="datasetCollapse">
        <el-collapse-item name="1">
          <template slot="title">
            <el-row style="width: 100%;">
              <el-col class="title-container">
                <div class="option-title">{{ optionName(name) }}{{name}}</div>
              </el-col>
            </el-row>
          </template>
          <template v-if="true">
            <el-row>
              <el-col>
                <OptionForm />
              </el-col>
            </el-row>
          </template>
        </el-collapse-item>
      </el-collapse>
    </el-col>
  </el-row>

  <el-row type="flex" justify="center" slot="footer">
    <el-col :span="8" class="action-btn-group">
      <el-button class="secondary-btn" @click="closeDialogPreprocess">取消</el-button>
      <el-button class="primary-btn" @click="closeDialogPreprocess">儲存設定</el-button>
    </el-col>
  </el-row>
</el-dialog>