<el-dialog :visible.sync="dialogOpen" :show-close="false" :close-on-click-modal="false">
  <div class="main-container">
    <el-row class="container-title">
      <el-col>
        <span>前處理</span>
      </el-col>
    </el-row>
    <el-row>
      <el-col class="option-box" :span="12" v-for="(args, name) in configs" :key="name">
        <el-collapse>
          <el-collapse-item name="1">
            <template slot="title">
              <el-row style="width: 100%;">
                <el-col class="title-container">
                  <el-switch v-model="optionSelect[name]" @change="activeOption($event,name)" active-color="#BB86FC61"
                  inactive-color="#47B2E4"></el-switch>
                  <div>{{ optionName(name) }}</div>
                  <el-tooltip placement="bottom" effect="light">
                    <div slot="content">{{ optionName(name) }}</div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
              </el-row>
            </template>
            <OptionForm :config="args" :default="defaultFromConfig(args, newPara[name])" @change="updateOption(name, $event)" :case="optionCase(name)" />
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-row>
  </div>
  <el-row slot="footer">
    <el-col class="action-btn-group">
      <el-button class="secondary-btn" @click="closeDialogPreprocess">取消</el-button>
      <el-button class="primary-btn" @click="setPara">儲存設定</el-button>
    </el-col>
  </el-row>
</el-dialog>