<div id="mainSection">
  <div v-show="resultExit">
    <el-row type="flex" justify="center" class="search-row">
      <el-col :span="6">
        <el-input placeholder="請輸入部署路徑" v-model="inputDeployPath" clearable />
      </el-col>
      <el-col :span="2" :offset="1">
        <el-button class="primary-btn">確認</el-button>
      </el-col>
    </el-row>
    <el-collapse v-model="acitveResultCollapse">
      <template v-for="chart in charts">
        <el-collapse-item :name="chart.runId">
          <template slot="title">
            <el-row style="width: 100%;">
              <el-col class="title-container">
                <img :src="require('@/assets/svg_icon/sidebar/project_star.svg')" />
                <div class="header-title">{{chart.data.projectName}} - {{chart.data.date}}</div>
              </el-col>
            </el-row>
          </template>
          <el-row type="flex" justify="center">
            <el-col :span="8">
              <el-row>
                <el-col class="info-row">
                  <img :src="require('@/assets/svg_icon/sidebar/dataset_color.svg')" />
                  <div>資料集: {{chart.data.datasetPath}}</div>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="21" class="plot-container">
                  <div class="plot-title">訓練結果</div>
                  <div class="plot-content" :id="chart.runId + '_lineChart'"></div>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="15">
              <el-row>
                <el-col class="info-row">
                  <img :src="require('@/assets/svg_icon/sidebar/models_color.svg')" />
                  <div>模型: {{chart.data.model}}</div>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="21" class="plot-container">
                  <div class="plot-title">測試結果</div>
                  <div class="plot-content">
                    <template v-for="ring in chart.data.ringProgressChartData">
                      <div :id="chart.runId + '_'+ ring.scoreName"></div>
                    </template>
                  </div>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
          <el-row type="flex" justify="end">
            <el-col :span="8" class="action-btn-group">
              <el-button class="secondary-btn">刪除</el-button>
              <el-button class="primary-btn" @click="getDownloadInfo(chart.data.projectName,chart.runId)">下載</el-button>
              <el-button class="primary-btn">部署</el-button>
            </el-col>
          </el-row>
        </el-collapse-item>
      </template>
    </el-collapse>
  </div>
  <div v-show="!resultExit">
    <el-alert title="No model is available" type="error">
    </el-alert>
  </div>

  <dialog-message :dialog-open="openDialogMessage" :message-data="dialogMessageData"
    @cancel-action="openDialogMessage=false" @confrim-action="downloadModel" />

</div>