<div id="mainSection">
  <div v-show="resultExit">
    <el-row type="flex" justify="center" class="search-row">
      <el-col :span="6">
        <el-input placeholder="請輸入部署路徑" v-model="inputDeployPath" readonly @focus="editDeployPath" />
      </el-col>
      <el-col :span="2" :offset="1">
        <el-button class="primary-btn" @click="editDeployPath">設定</el-button>
      </el-col>
    </el-row>
    <el-collapse v-model="acitveResultCollapse">
      <template v-for="chart in charts">
        <el-collapse-item :name="chart.runId">
          <template slot="title">
            <el-row style="width: 100%;">
              <el-col class="title-container">
                <img :src="require('@/assets/svg_icon/sidebar/project_star.svg')" />
                <div class="header-title">{{chart.data.projectName}} - {{chart.runId}}</div>
              </el-col>
            </el-row>
          </template>
          <el-row>
            <el-col :span="8" class="info-row">
              <img :src="require('@/assets/svg_icon/models/dataset_pink.svg')" />
              <div>資料集: {{chart.data.datasetPath}}</div>
            </el-col>
            <el-col :span="8" class="info-row">
              <img :src="require('@/assets/svg_icon/models/models_purple.svg')" />
              <div>模型: {{chart.data.model}}</div>
            </el-col>
            <el-col :span="8" class="info-row">
              <div class="display-result-box">
                <div>顯示:</div>
                <el-dropdown @command="handleDropdownDisplay">
                  <span class="el-dropdown-link">
                    {{chart.displayResult === 'train' ? '訓練結果' : '測試結果'}} <i
                      class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="chart.runId + '_train'">訓練結果</el-dropdown-item>
                    <el-dropdown-item :command="chart.runId + '_test'">測試結果</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8" v-show="chart.displayResult === 'train'">
              <div class="plot-container">
                <div class="plot-title">訓練結果</div>
                <div class="plot-content" :id="chart.runId + '_lineChart'"></div>
              </div>
            </el-col>
            <el-col v-show="chart.displayResult === 'test'">
              <el-row>
                <el-col :span="7">
                  <div class="plot-container">
                    <div class="plot-title">ALL Accuracy</div>
                    <div class="plot-content">
                      <div class="ring-container" :id="chart.runId + '_ringProgressChart'"></div>
                    </div>
                  </div>
                </el-col>
                <el-col :span="10">
                  <div class="plot-container">
                    <div class="plot-title">Class Accuracy</div>
                    <div class="plot-content">
                      <template v-for="item in chart.data.barChartData">
                        <div class="progress-bar-container">
                          <div class="progress-content">{{item.scoreName}}</div>
                          <el-progress :text-inside="true" :stroke-width="20" :percentage="item.score" :color="customColor"></el-progress>
                          <div class="progress-end-extra">100%</div>
                        </div>
                      </template> 
                    </div>
                  </div>
                </el-col>
                <el-col :span="7"></el-col>
              </el-row>
            </el-col>
          </el-row>
          <el-row type="flex" justify="end">
            <el-col :span="8" class="action-btn-group">
              <el-button class="secondary-btn">刪除</el-button>
              <el-button class="primary-btn" @click="getDownloadInfo(chart.runId)">下載</el-button>
              <el-tooltip :disabled="chart.deployInfoMsg.length === 0" placement="top-end" effect="light">
                <div slot="content">
                  <template v-for="msg in chart.deployInfoMsg">
                    <span class="pop-out-msg">{{ msg }}</span><br>
                  </template>
                </div>
                <el-button class="primary-btn" @click="setDeployFilename(chart.runId)">{{ chart.deployBtnName }}
                </el-button>
              </el-tooltip>
            </el-col>
          </el-row>
        </el-collapse-item>
      </template>
    </el-collapse>
  </div>
  <div v-show="!resultExit">
    <el-empty description="暫無已訓練模型">
      <router-link :to="{ name: 'experiments', params: { projectName: $route.params.projectName,settingPath:true} }">
        <el-button class="primary-btn empty-btn">
          立即訓練 GO !
        </el-button>
      </router-link>
    </el-empty>
  </div>

  <dialog-message :dialog-open="openDialogMessage" :message-data="dialogMessageData"
    @cancel-action="openDialogMessage=false" @confrim-action="downloadModel" />

  <dialog-message :dialog-open="setDeployPathDialog" :message-data="setDeployPathDialogData"
    @cancel-action="setDeployPathDialog=false" @confrim-action="setDeployPath" />

  <dialog-message :dialog-open="deployDialog" :message-data="deployDialogData" @cancel-action="deployDialog=false"
    @confrim-action="deploy" />

</div>