<div class="content-box">
  <template v-for="(arg, name) in config">
    <div v-if="formType(arg)==='enums'" class="select-box">
      <div class="content-title">{{ tr(name, arg) }}</div>
        <template v-if="newPara.get(name) !== undefined">
          <OptionEnumsForm :enums="arg.enums" :value="newPara.get(name)" @input="updateNewPara(name, $event)" />
        </template>
    </div>
    <div v-if="formType(arg)==='int-input'" class="input-box">
      <div class="content-title">{{ tr(name, arg) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionIntInputForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" :unit="arg.unit" />
      </template>
    </div>
    <div v-if="formType(arg)==='float-input'" class="input-box">
      <div class="content-title">{{ tr(name, arg) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionFloatInputForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" :unit="arg.unit" />
      </template>
    </div>
    <div v-if="formType(arg)==='int-slider'" class="slider-box">
      <div class="content-title">{{ tr(name, arg) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionIntSliderForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" :unit="arg.unit" />
      </template>
    </div>
    <div v-if="formType(arg)==='float-slider'" class="slider-box">
      <div class="content-title">{{ tr(name, arg) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionFloatSliderForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" :unit="arg.unit" />
      </template>
    </div>

    <div v-if="formType(arg)==='list'">
      <div class="content-title">{{ tr(name, arg) }}</div>
      <div class="children-container">
        <template v-for="(argChild,nameChild,index) in arg.children">
          <div v-if="formType(argChild)==='enums'" class="select-box">
            <div class="content-title">{{ tr(nameChild, argChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionEnumsForm :enums="argChild.enums" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" />
            </template>
          </div>
          <div v-if="formType(argChild)==='int-input'" class="input-box">
            <div class="content-title">{{ tr(nameChild, argChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionIntInputForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" :unit="argChild.unit" />
            </template>
          </div>
          <div v-if="formType(argChild)==='float-input'" class="input-box">
            <div class="content-title">{{ tr(nameChild, argChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionFloatInputForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" :unit="argChild.unit" />
            </template>
          </div>
          <template v-if="Object.keys(arg.children).includes('min') && Object.keys(arg.children).includes('max')">
            <template v-if="nameChild === 'min'">
              <div v-if="formType(argChild)==='float-slider'" class="slider-box">
                <div class="content-title-bound">
                  <div class="content-title"> {{ tr('min', argChild) }}</div>
                  <div class="content-title"> {{ tr('max', argChild) }}</div>
                </div>
                <OptionFloatSliderRangeForm :max="argChild.max" :min="argChild.min" :boundValue="[childValue(name,index),childValue(name,index+1)]" @input="setChildValue(name,index, $event)" :unit="argChild.unit"/>
              </div>
              <div v-if="formType(argChild)==='int-slider'" class="slider-box">
                <div class="content-title-bound">
                  <div class="content-title"> {{ tr('min', argChild) }}</div>
                  <div class="content-title"> {{ tr('max', argChild) }}</div>
                </div>
                <OptionIntSliderRangeForm :max="argChild.max" :min="argChild.min" :boundValue="[childValue(name,index),childValue(name,index+1)]" @input="setChildValue(name,index, $event)" :unit="argChild.unit"/>
              </div>
            </template>
          </template>
          <template v-else>
            <div v-if="formType(argChild)==='int-slider'" class="slider-box">
              <div class="content-title">{{ tr(nameChild, argChild) }}</div>
              <template v-if="childValue(name,index) !== undefined">
                <OptionIntSliderForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" :unit="argChild.unit" />
              </template>
            </div>
            <div v-if="formType(argChild)==='float-slider'" class="slider-box">
              <div class="content-title">{{ tr(nameChild, argChild) }}</div>
              <template v-if="childValue(name,index) !== undefined">
                <OptionFloatSliderForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" :unit="argChild.unit" />
              </template>
            </div>
          </template>
        </template>
      </div>
    </div>
  </template>
</div>