<div class="content-box">
  <template v-for="(arg, name) in config">
    <div v-if="formType(arg)==='enums'" class="select-box">
      <div>{{ tr(name) }}</div>
        <template v-if="newPara.get(name) !== undefined">
          <OptionEnumsForm :enums="arg.enums" :value="newPara.get(name)" @input="updateNewPara(name, $event)" />
        </template>
    </div>
    <div v-if="formType(arg)==='int-slider'" class="slider-box">
      <div>{{ tr(name) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionIntSliderForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" />
      </template>
    </div>
    <div v-if="formType(arg)==='float-slider'" class="slider-box">
      <div>{{ tr(name) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionFloatSliderForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" />
      </template>
    </div>
    <div v-if="formType(arg)==='int-input'" class="input-box">
      <div class="input-title">{{ tr(name) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionIntInputForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" />
      </template>
    </div>
    <div v-if="formType(arg)==='float-input'" class="input-box">
      <div class="input-title">{{ tr(name) }}</div>
      <template v-if="newPara.get(name) !== undefined">
        <OptionFloatInputForm :max="arg.max" :min="arg.min" :value="newPara.get(name)" @input="updateNewPara(name, $event)" />
      </template>
    </div>
    <div v-if="formType(arg)==='list'">
      <div>{{ tr(name)}}</div>
      <div class="children-container">
        <template v-for="(argChild,nameChild,index) in arg.children">
          <div v-if="formType(argChild)==='int-slider'" class="silder-box">
            <div>{{ tr(nameChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionIntSliderForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" />
            </template>
          </div>
          <div v-if="formType(argChild)==='float-slider'" class="silder-box">
            <div>{{ tr(nameChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionFloatSliderForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" />
            </template>
          </div>
          <div v-if="formType(argChild)==='int-input'" class="input-box">
            <div class="input-title">{{ tr(nameChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionIntInputForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" />
            </template>
          </div>
          <div v-if="formType(argChild)==='float-input'" class="input-box">
            <div class="input-title">{{ tr(nameChild) }}</div>
            <template v-if="childValue(name,index) !== undefined">
              <OptionFloatInputForm :max="argChild.max" :min="argChild.min" :value="childValue(name,index)" @input="setChildValue(name,index, $event)" />
            </template>
          </div>
        </template>
      </div>
    </div>
  </template>
</div>