@import '@/styles/helpers/_variables.scss';
@import '@/styles/helpers/_extends.scss';
@import '@/styles/helpers/_buttons.scss';
@import '@/styles/vendors/_element-ui.scss';

.search-row {
    font-size: $font-normal;
    margin: 1em 0;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }