<div id="mainSection">
  <div v-show="projectExist">
    <el-row type="flex" justify="center" style="padding: 0.5vw 0;">
      <el-col :span="5" style="padding: 0 2em">
        <el-select v-model="selectedDatasetValue" clearable :placeholder="datasetOptions[0].label"
          style="display: flex; margin: 0 auto">
          <el-option v-for="item in datasetOptions" :key="item.value" :value="item.value" :label="item.label">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="5" style="padding: 0 2em">
        <el-input placeholder="請輸入專案名稱" clearable v-model="inputModelName"></el-input>
      </el-col>
      <el-col :span="2" style="padding: 0 1em">
        <el-button icon="el-icon-search" style="background: #0e5879; color: white">
          <span style="font-size: 1.2em;">搜尋</span>
        </el-button>
      </el-col>
    </el-row>
    <el-row class="decorate-box">
      <el-col>

        <el-row style="background: #0e5879 ;border-radius: 8px 8px 0px 0px;">
          <el-col style="padding:0.5em 2.5em">
            <span style="color: white; font-size: 1.8em">結果列表</span>
          </el-col>
        </el-row>
        
        <el-row>
          <el-col>
            <el-collapse v-model="acitveProjectCollapse">
              <template v-for="[name,project] in projectList" >
                <el-collapse-item :name=name>
                  <template slot="title">
                    <el-row type="flex" justify="space-between" style="width: 100%;">
                      <el-col :span="12">
                        <i class="el-icon-star-off"></i>
                        <span>{{name}}</span>
                      </el-col>
                      <el-col :span="6">
                        <el-progress :percentage="10" :format="progressFormat" :color="progressColor" class="custom-progress"></el-progress>
                      </el-col>
                    </el-row>
                  </template>
                  <el-row type="flex" justify="center">
                    <el-col>
                      <div :id=name style="flex: 1;"></div>
                    </el-col>
                  </el-row>
                  <el-row type="flex" justify="end">
                    <el-col :span="3" style="display: flex;padding: 0 1em;">
                      <el-button id="delete-btn">
                        <span>刪除</span>
                      </el-button>
                    </el-col>
                    <el-col :span="4" style="display: flex;padding: 0 1em;">
                      <el-button id="check-model-btn">
                        <span>查看模型</span>
                      </el-button>
                    </el-col>
                  </el-row>
                </el-collapse-item>
              </template>
            </el-collapse>
          </el-col>
        </el-row>

      </el-col>
    </el-row>
  </div>
</div>