<div>
  <template v-if="projectExist">
    <el-row type="flex" justify="center" style="margin:2rem 0">
      <el-col :span="5" style="padding: 0 2rem">
        <el-select v-model="selectedDatasetValue" clearable :placeholder="datasetOptions[0].label"
          style="display: flex; margin: 0 auto">
          <el-option v-for="item in datasetOptions" :key="item.value" :value="item.value" :label="item.label">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="5" style="padding: 0 2rem">
        <el-input placeholder="請輸入專案名稱" clearable v-model="inputModelName"></el-input>
      </el-col>
      <el-col :span="2" style="padding: 0 1rem">
        <el-button icon="el-icon-search" style="background: #0e5879; color: white">
          <span style="font-size: 1.4rem;">搜尋</span>
        </el-button>
      </el-col>
    </el-row>
    <el-row class="decorate-box">
      <el-col>

        <el-row style="background: #0e5879 ;border-radius: 8px 8px 0px 0px;">
          <el-col :span="4" style="padding:0.7rem 2.8rem">
            <span style="color: white; font-size: 2.2rem">結果列表</span>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-collapse v-model="activeName" accordion>
              <el-collapse-item name="1">
                <template slot="title">
                  <el-row type="flex" justify="space-between" style="width: 100%;">
                    <el-col :span="4">
                      <i class="el-icon-star-off"></i>
                      <span>Project 2022</span>
                    </el-col>
                    <el-col :span="8">
                      <div style="display: flex;justify-content: flex-end; margin:0 2rem">
                        <span>完成度</span>
                        <el-progress :text-inside="true" :percentage="progressPercentage" :color="progressColor" style="
                            display: inline-block;
                            width: 10rem;
                            padding: 2rem;
                          "></el-progress>
                        <span> {{ progressPercentage }} % </span>
                      </div>
                    </el-col>
                  </el-row>
                </template>
                <el-row>
                  <el-col style="margin: 2rem">
                    <span style="font-size: 1.8rem">建立日期: {{ projectBuildTime }}</span>
                  </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                  <el-col>
                    <div id="graph-container" style="flex: 1;margin: 2rem;"></div>
                  </el-col>
                </el-row>
                <el-row type="flex" justify="end">
                  <el-col :span="3" style="display: flex;padding: 0 1rem;">
                    <el-button id="delete-btn">
                      <span>刪除</span>
                    </el-button>
                  </el-col>
                  <el-col :span="3" style="display: flex;padding: 0 1rem;">
                    <el-button id="check-model-btn">
                      <span>查看模型</span>
                    </el-button>
                  </el-col>
                </el-row>
              </el-collapse-item>
            </el-collapse>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </template>
  <template v-else>
    
  </template>
</div>