.el-input, ::v-deep .el-input__inner {
  font-size: 1em;
}

::v-deep .el-select-dropdown__item {
  font-size: 1.2em;
}

.el-collapse {
  border: 0px solid white;
  box-shadow: 0px 3px 6px #00000029;
}


::v-deep .el-collapse-item__header {
  background: #4a9abe;
  color: white;
  padding: 0.5em;
}

::v-deep .el-collapse-item__header i {
  font-size: 2.2em;
}

::v-deep .el-collapse-item__header span {
  font-size: 2.2em;
}

::v-deep .el-collapse-item__header i+span {
  padding-left: 0.2em;
}

.custom-progress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

::v-deep .el-progress__text {
  color: #fff;
  font-size: 1.5em !important;
}

::v-deep .el-progress-bar {
  width: 70%;
}

#delete-btn {
  height: 2.5em;
  width: 6em;
  font-size: 1.5em;
  color: #08648d;
  border: 1px solid #08648d;
  background-color: white;
  margin: auto;
  align-self: center;
}

#check-model-btn {
  height: 2.5em;
  width: 6em;
  font-size: 1.5em;
  color: white;
  background-color: #0E5879;
  margin: auto;
  align-self: center;
}

@keyframes antline {
  to {
    stroke-dashoffset: -1000
  }
}

.advantage-box{
  padding:1.5em;
  box-shadow: 0px 3px 6px #00000029;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage-box img{
  display: block;
  margin: auto;
}
.advantage-box span{
  display: block;
  text-align: center;
  text-decoration:underline;
  color: #08648D;
  font-size: 1.5em;
}




@keyframes ant-line {
  to {
      stroke-dashoffset: -1000
  }
}

