<el-menu style="width:100%; border-right: 0;" background-color="#0E5879" active-text-color="#D9DF90" :unique-opened=true>
  <el-menu-item >
    <router-link to="/">
      <i class="el-icon-s-home"></i>
      <span>Dashboard</span>
    </router-link>
  </el-menu-item>
  <el-menu-item>
    <i class="el-icon-plus"></i>
    <span>Create Project</span>
  </el-menu-item>
  <el-menu-item>
    <el-input placeholder="專案搜尋" suffix-icon="el-icon-search" v-model="searchProject" />
  </el-menu-item>
  <template v-for="projectName in projectList">
    <el-submenu :index="projectName">
      <template slot="title">
        <i class="el-icon-star-off"></i>
        <span>{{ projectName }}</span>
      </template>
      <el-menu-item >
        <router-link :to="{ name: 'dataset', params: { projectName } }">
          <i class="el-icon-star-off"></i>
          <span>Dataset</span>
        </router-link>
      </el-menu-item>
      <el-menu-item >
        <router-link :to="{ name: 'experiments', params: { projectName } }">
          <i class="el-icon-star-off"></i>
          <span>Experiments</span>
        </router-link>
      </el-menu-item>
      <el-menu-item >
        <router-link :to="{ name: 'models', params: { projectName } }">
          <i class="el-icon-star-off"></i>
          <span>Models</span>
        </router-link>
      </el-menu-item>
    </el-submenu>
  </template>
</el-menu>