span, i {
    font-size: 2rem;
}

i+span {
    padding-left: 0.5rem;
}

.search-panel {
    padding: 5px 15px;
}

.el-submenu__title i {
    color: #FFFFFF;
}

.el-menu-item i {
    color: #FFFFFF;
}

.el-divider--horizontal {
    width: 90%;
    margin: 5px auto;
}