<div style="margin: auto;width: 100%">
  <el-card>
    <el-row>
      <el-col class="card-title">
        <div>請選擇新增專案方式</div>
      </el-col>
    </el-row>
    <el-row type="flex" justify="space-around">
      <el-col :span="8" class="card-box">
        <div class="content-wrap" @click="openDialogImportKey = true">
          <i class="el-icon-key"></i>
          <div class="card-content">匯入解決方案金鑰</div>
        </div>
      </el-col>
      <el-col :span="8"class="card-box">
        <div class="content-wrap">
          <i class="el-icon-circle-plus-outline"></i>
          <div class="card-content">空白頁面</div>
        </div>
      </el-col>
    </el-row>
  </el-card>

  <dialog-import-key :dialog-open="openDialogImportKey" @import-cancel="closeDialogImportKey"
    @import-confirm="createProjectByKey" />
</div>