i,span {
    color: #08648D;
}

i + span {
    margin-left: 0.5rem;
}

.chosen-box {
    background-color: #EFFBFD;
    margin: 2rem;
    height: 30rem;
    width: 30rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-width: medium;
    border-style: dashed;
    border-color: #08648d;
    
    font-size: 2rem;
}

.chosen-box:hover{
    cursor: pointer;
}

