<el-dialog :visible.sync="dialogOpen" top="30vh" width="40%" :show-close=false :close-on-click-modal="false">
    <el-row>
      <el-col>
        <span class="dialogInputTitle">新增專案名稱</span>
      </el-col>
      <el-col>
        <el-input clearable v-model="inputProjectName" class="dialogInput"></el-input>
      </el-col>
      <el-col>
        <span class="dialogInputTitle">請輸入您的解決方案金鑰</span>
      </el-col>
      <el-col>
        <el-input clearable v-model="inputSolutionKey" class="dialogInput"></el-input>
      </el-col>
    </el-row>
    <el-row slot="footer" type="flex" justify="center" style="margin: 2rem;">
      <el-col :span="4" style="margin-right: 15rem;">
        <el-button @click="closeDialogImportKey" id="cancel-btn">取消</el-button>
      </el-col>
      <el-col :span="4">
        <el-button @click="closeDialogImportKey" id="confirm-btn">確認</el-button>
      </el-col>
    </el-row>
  </el-dialog>