i,span {
    color: #08648D;
}

::v-deep .el-dialog__headerbtn {
    font-size: 3em;
  }
::v-deep .el-dialog__close {
    color: #0e5879!important;
  }

.dialogInput{
    width: 50%;
    display: flex;
    margin: auto;
}

.dialogInputTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
}

#cancel-btn {
    height: 3em;
    width: 8em;
    font-size: 1.3em;
    color: #08648d;
    border: 1px solid #08648d;
    background-color: white;
    margin: auto;
    align-self: center;
}

#confirm-btn {
    height: 3em;
    width: 8em;
    font-size: 1.3em;
    color: white;
    background-color: #0E5879;
    margin: auto;
    align-self: center;
}