<el-row id="node-row" :style="borderColor">
  <el-col :span="9" :style="backgroundColor" style="display: flex;">
    <img :src="imgSrc" />
  </el-col>
  <el-col :span="15" :style="borderColor" style="border-left: 2px solid;">
    <el-row type="flex" justify="center">
      <el-col :span="18" style="padding-top: 1.5rem;">
        <span style="font-size: 1.8rem;font-weight: bold;">{{ title }}</span>
        <br />
        <span style="font-size: 1.6rem;">{{content}}</span>
      </el-col>
      <el-col :span="2">
        <i class="el-icon-edit-outline" style="font-size: 1.5rem;"></i>
      </el-col>
    </el-row>
  </el-col>
</el-row>