#node-row {
  border: 2px solid;
  border-radius: 4px;
  background-color: white;
  height: 100%;
  width: 100%;
}
.el-col {
  height: 100%;
}

.el-col img{
  width: 2vw;
  height: 2vw;
  margin: auto;
}

li span{
  position: relative;
  left: -10px;
}