.node-row {
  border: 2px solid;
  border-radius: 4px;
  background-color: white;
  height: 100%;
  width: 100%;
}

.el-col {
  height: 100%;
}

.el-col img {
  width: 2vw;
  height: 2vw;
  margin: auto;
}

ul {
  padding: 0px 25%;
  margin: 0;
  height: 5vw;
  width: 100%;
  text-overflow:ellipsis;
  word-break: break-all;
  overflow: hidden;
}

li span {
  position: relative;
  left: -2px;
  font-size: 0.2vw;
  /* word-break: break-all; */
}