<div id="main-section">
  <div class="left-container">
    <div class="icon-box">
      <img :src="require('@/assets/svg_icon/login/icon_word_BCE1F2.svg')" />
    </div>
    <div class="promote-box">
      <div class="promote-title">歡迎來到 SALA!</div>
      <div class="promote-content">使用友達所提供的專屬解決方案金鑰，</div>
      <div class="promote-content">無需專業AI工程師，也能輕鬆訓練模型!</div>
    </div>
  </div>
  <div class="right-container">
    <div class="back-box" v-if="rightBoxDisplay !== 'login'">
      <el-button type="text" class="text-btn" @click="rightBoxDisplay = 'login'" icon="el-icon-arrow-left">返回
      </el-button>
    </div>
    <div class="right-main-box">
      <div class="main-title">登入</div>
      
      <div class="input-box">
        <div>帳號</div>
        <el-input v-model="loginContent.username" @input="errorMsg=''" @keydown.enter.native="handleLogin(loginContent)" clearable></el-input>
      </div>
      <div class="input-box">
        <div>密碼</div>
        <el-input v-model="loginContent.password" @input="errorMsg=''" @keydown.enter.native="handleLogin(loginContent)" show-password clearable></el-input>
        <div class="extra-box">
          <el-checkbox v-model="loginContent.remember">記住我</el-checkbox>
        </div>
      </div>
      <div class="error-msg-box">{{errorMsg}}</div>
      <div>
        <el-button class="primary-btn" @click="handleLogin(loginContent)">登入
        </el-button>
      </div>
    </div>
  </div>
</div>