<el-dialog :visible.sync="dialogOpen" :show-close="false" :close-on-click-modal="false">
  <div v-if="!changeToSetting">
    <div class="main-container">
      <el-row>
        <el-col class="container-title">
          <span>模型選擇</span>
        </el-col>
      </el-row>
      <el-row>
        <el-col class="model-option-box" :span="6" v-for="[name,description] in models" :key="name">
          <div class="model-content-box" @click="pickModelSetting(name,false)">
            <div class="icon-box" :style="name === modelStructure ? {'background':'#4A9ABE'} :{'background':'#F5F5FD'}">
              <template v-if="name === modelStructure">
                <img class="large-img model-select"
                  :src="require('@/assets/svg_icon/model_select/model_transparent.svg')" />
                <div class="edit-box" @click="pickModelSetting(name,true)">
                  <img :src="require('@/assets/svg_icon/model_select/edit_transparent.svg')" class="edit_img " />
                </div>
              </template>
              <template v-else>
                <img class="large-img" :src="require('@/assets/svg_icon/model_select/model_purple.svg')" />
                <div class="edit-box" @click="pickModelSetting(name,true)">
                  <img :src="require('@/assets/svg_icon/model_select/edit_blue.svg')" class="edit_img " />
                </div>
              </template>
            </div>
            <div class="text-box">
              <div class="model-name-box">
                <img :src="require('@/assets/svg_icon/model_select/model_blue.svg')" />
                <span>{{ optionName(name) }}</span>
              </div>
              <div class="profile-box">
                <div class="introduction-box">
                  {{description.introduction}}
                </div>
                <div class="wrap-rating-box">
                  <div class="rating-box">
                    <div class="rating-title">{{optionName('dataNeeded')}}</div>
                    <div class="rating-content">{{description.dataNeeded}}</div>
                  </div>
                  <div class="rating-box">
                    <div class="rating-title">{{optionName('easeOfUsage')}}</div>
                    <div class="rating-content">{{description.easeOfUsage}}</div>
                  </div>
                  <div class="rating-box">
                    <div class="rating-title">{{optionName('trainSpeed')}}</div>
                    <div class="rating-content">{{description.trainSpeed}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col class="pagination-box">
          <el-pagination @current-change="handlePageChange" background layout="prev, pager, next" :total="modelCount"
            :current-page.sync="currentPage" :page-size.sync="pageSize" :hide-on-single-page="true">
          </el-pagination>
        </el-col>
      </el-row>
    </div>
    <el-row slot="footer">
      <el-col class="action-btn-group">
        <el-button class="secondary-btn" @click="closeDialogModelSelect">取消</el-button>
        <el-button class="primary-btn" @click="setPara">確定</el-button>
      </el-col>
    </el-row>
  </div>
  <div v-else>
    <div class="main-container">
      <el-row>
        <el-col class="container-title">
          <span>{{ optionName(newPara.modelStructure) }}</span>
        </el-col>
      </el-row>
      <el-row>
        <el-col class="setting-box" :span="8" v-for="item in modelSetting" :key="item">
          <el-collapse accordion :value="['1']">
            <el-collapse-item name="1">
              <template slot="title">
                <el-row style="width: 100%;">
                  <el-col class="title-container">
                    <div>{{ optionName(item) }}</div>
                  </el-col>
                </el-row>
              </template>
              <div class="content-box">
                <template v-if="item === 'batchSize'">
                  <div class="input-box">
                    <el-input :value="newPara.batchSize" @input="handleParaChange($event,'batchSize')"></el-input>
                    <div class="unit">/batch</div>
                  </div>
                </template>
                <template v-if="item === 'epochs'">
                  <div class="input-box">
                    <el-input :value="newPara.epochs" @input="handleParaChange($event,'epochs')">></el-input>
                    <div class="unit">epochs</div>
                  </div>
                </template>
                <template v-if="item === 'pretrained'">
                  <div class="select-box">
                    <el-select :value="newPara.modelPretrained" @change="handleParaChange($event,'modelPretrained')" size="mini">
                      <el-option :label="'是'" :key="true" :value="true"></el-option>
                      <el-option :label="'否'" :key="false" :value="false"></el-option>
                    </el-select>
                  </div>
                </template>
                <template v-if="item === 'lossFunction'">
                  <div class="select-box">
                    <el-select :value="newPara.lossFunction" @change="handleParaChange($event,'lossFunction')" size="mini">
                      <el-option :label="'CrossEntropyLoss'" :key="'CrossEntropyLoss'" :value="'CrossEntropyLoss'">
                      </el-option>
                      <el-option :label="'MSELoss'" :key="'MSELoss'" :value="'MSELoss'"></el-option>
                      <el-option :label="'L1Loss'" :key="'L1Loss'" :value="'L1Loss'"></el-option>
                      <el-option :label="'SmoothL1Loss'" :key="'SmoothL1Loss'" :value="'SmoothL1Loss'"></el-option>
                      <el-option :label="'BCELoss'" :key="'BCELoss'" :value="'BCELoss'"></el-option>
                    </el-select>
                  </div>
                </template>
                <template v-if="item === 'Optimizer'">
                  <div class="select-box">
                    <el-select :value="newPara.optimizer" @change="handleParaChange($event,'optimizer')" size="mini">
                      <el-option :label="'SGD'" :key="'SGD'" :value="'SGD'"></el-option>
                      <el-option :label="'Adam'" :key="'Adam'" :value="'Adam'"></el-option>
                      <el-option :label="'Adadelta'" :key="'Adadelta'" :value="'Adadelta'"></el-option>
                      <el-option :label="'AdamW'" :key="'AdamW'" :value="'AdamW'"></el-option>
                    </el-select>
                  </div>
                </template>
                <template v-if="item === 'Scheduler'">
                  <div class="select-box">
                    <el-select :value="newPara.scheduler" @change="handleParaChange($event,'scheduler')" size="mini">
                      <el-option :label="'None'" :key="''" :value="''"></el-option>
                      <el-option :label="'stepLR'" :key="'stepLR'" :value="'stepLR'"></el-option>
                      <el-option :label="'cosineAnnealingLR'" :key="'cosineAnnealingLR'" :value="'cosineAnnealingLR'">
                      </el-option>
                    </el-select>
                  </div>
                </template>
              </div>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
    </div>
    <el-row slot="footer">
      <el-col class="action-btn-group">
        <el-button class="secondary-btn" @click="changeToSetting=false">取消</el-button>
        <el-button class="primary-btn" @click="changeToSetting=false">儲存修改</el-button>
      </el-col>
    </el-row>
  </div>
</el-dialog>